*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #a5cced;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.ears {
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  top: -1.5rem;
  z-index: -1;
  overflow: hidden;
}

.ears--left {
  left: 0;
}

.ears--left::before {
  left: -20%;
}

.ears--right {
  right: 0;
}

.ears--right::before {
  right: -20%;
}

.ears--left::before, .ears--right::before {
  content: '';
  border-radius: 50%;
  position: absolute;
  bottom: -15%;
}

.eyes {
  background-color: #000;
  border-radius: 50%;
  position: absolute;
}

.snout {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nose {
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
}

.mouth {
  background-color: #000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mouth::before, .mouth::after {
  content: '';
  position: absolute;
  background-color: inherit;
  bottom: -0.35rem;
  border-radius: 50%;
}

.mouth::before {
  left: -1rem;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.mouth::after {
  right: -1rem;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.rilakkuma {
  width: 23rem;
  height: 18rem;
  background-color: #b4670f;
  border-radius: 50% / 10rem 10rem 8rem 8rem;
  position: absolute;
  bottom: -4rem;
  right: calc(5% + 22.5rem);
}

.rilakkuma .ears {
  width: 6rem;
  height: 6rem;
}

.rilakkuma .ears--left::before, .rilakkuma .ears--right::before {
  width: 5rem;
  height: 5rem;
  background-color: #e5b429;
}

.rilakkuma .eyes {
  width: 2.25rem;
  height: 2.25rem;
  bottom: 37%;
}

.rilakkuma .eyes--left {
  left: 22%;
}

.rilakkuma .eyes--right {
  right: 22%;
}

.rilakkuma .snout {
  width: 7.5rem;
  height: 5.5rem;
}

.rilakkuma .nose {
  width: 1.8rem;
  height: 1.8rem;
}

.rilakkuma .mouth {
  bottom: 25%;
}

.rilakkuma .mouth::before, .rilakkuma .mouth::after {
  width: 0.75rem;
  height: 2rem;
}

.korilakkuma {
  width: 19rem;
  height: 14.5rem;
  background-color: #eddda2;
  border-radius: 50% / 9rem 9rem 7rem 7rem;
  position: absolute;
  bottom: -3.4rem;
  right: 5%;
}

.korilakkuma .ears {
  width: 5rem;
  height: 5rem;
}

.korilakkuma .ears--left::before, .korilakkuma .ears--right::before {
  width: 4.25rem;
  height: 4.25rem;
  background-color: #e0a6bc;
}

.korilakkuma .eyes {
  width: 1.8rem;
  height: 1.8rem;
  bottom: 36%;
}

.korilakkuma .eyes--left {
  left: 25%;
}

.korilakkuma .eyes--right {
  right: 25%;
}

.korilakkuma .snout {
  width: 5.7rem;
  height: 4rem;
}

.korilakkuma .nose {
  width: 1.3rem;
  height: 1.3rem;
}

.korilakkuma .mouth {
  bottom: 30%;
}

.korilakkuma .mouth::before, .korilakkuma .mouth::after {
  width: 0.6rem;
  height: 1.5rem;
}

.clouds {
  position: absolute;
}

.clouds div {
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.clouds div:nth-child(1) {
  left: 0;
  bottom: 10%;
}

.clouds div:nth-child(2) {
  left: 20%;
}

.clouds div:nth-child(3) {
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.clouds div:nth-child(4) {
  right: 20%;
  top: 10%;
}

.clouds div:nth-child(5) {
  right: 0;
  bottom: 10%;
}

.clouds--1 {
  width: 14.5rem;
  height: 10rem;
  top: 10%;
  left: 5%;
}

.clouds--1 div {
  width: 5.5rem;
  height: 5.5rem;
}

.clouds--1 div:nth-child(2) {
  left: 20%;
  top: 10%;
}

.clouds--1 div:nth-child(4) {
  right: 20%;
  top: 5%;
}

.clouds--2 {
  width: 19rem;
  height: 12rem;
  top: calc(10% + 10rem);
  left: calc(5% + 17rem);
}

.clouds--2 div {
  width: 7rem;
  height: 7rem;
}
/*# sourceMappingURL=main.css.map */