*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  background-color: $skyblue;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.ears {
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  top: -1.5rem;
  z-index: -1;
  overflow: hidden;

  &--left {
    left: 0;

    &::before {
      left: -20%;
    }
  }

  &--right {
    right: 0;

    &::before {
      right: -20%;
    }
  }

  &--left::before,
  &--right::before {
    content: '';
    border-radius: 50%;
    position: absolute;
    bottom: -15%;
  }
}

.eyes {
  background-color: $black;
  border-radius: 50%;
  position: absolute;
}

.snout {
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.nose {
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $black;
}

.mouth {
  background-color: $black;
  position: absolute;
  // bottom: 25%;
  left: 50%;
  transform: translateX(-50%);

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: inherit;
    bottom: -0.35rem;
    border-radius: 50%;
  }

  &::before {
    left: -1rem;
    transform: rotate(60deg);
  }

  &::after {
    right: -1rem;
    transform: rotate(-60deg);
  }
}
